<launch>	
	<node pkg="octomap_pc2_converter" type="ocotomap_pc2_converter" name = "pc2_con_r1" >
		<!-- This is the published topic -->
		<remap from="pc2_out" to "H01/pc2_out">
		<!-- This is the subscribed topic -->
		<remap from="octomap_binary" to "HO1/octomap_binary">
	</node>

	<node pkg="octomap_pc2_converter" type="ocotomap_pc2_converter" name = "pc2_con_r1" >
		<remap from="pc2_out" to "H02/pc2_out">
		<remap from="octomap_binary" to "HO2/octomap_binary">
	</node>

	<node pkg="octomap_pc2_converter" type="ocotomap_pc2_converter" name = "pc2_con_r1" >
		<remap from="pc2_out" to "H03/pc2_out">
		<remap from="octomap_binary" to "HO3/octomap_binary">
	</node>



	<node pkg="octomap_pc2_converter" type="merge_pc2" name="merge_pc2"/>
		<!-- publishes 
</launch>
