<launch>	
	<node pkg="octomap_pc2_converter" type="octomap_pc2_converter" name = "pc2_con_r1" output="screen">
		<!-- This is the published topic -->
		<remap from="pc2_out" to="H01/pc2_out"/>
		<!-- This is the subscribed topic -->
		<remap from="octomap_binary" to="X1/octomap_binary"/>
	</node>

	<node pkg="octomap_pc2_converter" type="octomap_pc2_converter" name = "pc2_con_r2" >
		<remap from="pc2_out" to="H02/pc2_out"/>
		<remap from="octomap_binary" to="X2/octomap_binary"/>
	</node>

</launch>
